header.hero {
    background-image: url(img/board.jpg);
}

header.hero .title,
header.hero .subtitle {
    color: white;
}

.done {
    text-decoration: line-through;
}

[lang=lsf] * {
    color: #028 !important;
}