.note, footer { color: DarkGray; }
.small { font-size: .9rem; }
a { color: #009688; }
a:hover { color: #009688; opacity: .8; }
a:visited { color: #00796b; }
body > header { margin-bottom: 1em; }
code { font-size: 1rem; }
header p { color: #00796b; }
html { color: #333; background-color: snow }
main hr:after { content: '*  *'; }
h1, ul, ol, header hr { margin: 1em 0 !important; }

html {
    /* Scrollbar */
    margin-left: calc(100vw - 100%);
    margin-right: 0;
}

main hr {
    background-color: inherit;
    height: auto;
    text-align: center;
    margin: 1em 0;
    line-height: .8;
}

main hr:before {
    display: block;
    content: '*';
}

.info {
    background-color: #e0f2f1;
    color: #333;
    padding: 1ch;
}

table {
    display: table;
    width: 100%;
    table-layout: fixed;
}
