.info { background:#e0f2f1; color:#333; padding:.5em 1em }
.note, footer { color:#A9A9A9 }
.small { font-size:.9rem }
a { color:#009688 !important }
a:hover { color:#009688; opacity:.8 }
a:visited,header p { color:#00796b }
body > header { margin-bottom:1em }
code { font-size:1rem }
h1,ul,ol,header hr { margin:1em 0!important }
header h1,h2 { font-family:Heletica, sans-serif }
html { background:#FFFAFA; color:#333; margin-left:calc(100vw-100%); margin-right:0 }
main { font-family:Palatino, Georgia, serif; text-align:justify }
main hr { background:inherit; height:auto; line-height:.8; margin:1em 0; text-align:center }
main hr:after { content:'*  *' }
main hr:before { content:'*'; display:block }
main p { text-indent:2ch }
p + p.small { margin:0 }
p.small { font-size:80% }
table { display:table; table-layout:fixed; width:100% }
